//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.02Beta
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Fri 05 14 16:01:51 2021

IO_LOC "test_led" 13;
IO_PORT "test_led" PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[15]" 48;
IO_PORT "vga_rgb[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[14]" 47;
IO_PORT "vga_rgb[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[13]" 45;
IO_PORT "vga_rgb[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[12]" 43;
IO_PORT "vga_rgb[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[11]" 41;
IO_PORT "vga_rgb[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[10]" 46;
IO_PORT "vga_rgb[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[9]" 44;
IO_PORT "vga_rgb[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[8]" 42;
IO_PORT "vga_rgb[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[7]" 40;
IO_PORT "vga_rgb[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[6]" 1;
IO_PORT "vga_rgb[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[5]" 33;
IO_PORT "vga_rgb[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[4]" 39;
IO_PORT "vga_rgb[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[3]" 2;
IO_PORT "vga_rgb[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[2]" 32;
IO_PORT "vga_rgb[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[1]" 34;
IO_PORT "vga_rgb[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_rgb[0]" 35;
IO_PORT "vga_rgb[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_vs" 8;
IO_PORT "vga_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_hs" 9;
IO_PORT "vga_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "dht11[0]" 31;
IO_PORT "dht11[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uart_rxd" 29;
IO_PORT "uart_rxd" PULL_MODE=UP;
IO_LOC "sys_clk" 22;
IO_PORT "sys_clk" PULL_MODE=UP;
