//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1N-LV1QN48C6/I5
//Device: GW1N-1
//Created Time: Mon 05 17 20:48:57 2021

IO_LOC "dac_CH2[7]" 19;
IO_PORT "dac_CH2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[6]" 24;
IO_PORT "dac_CH2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[5]" 22;
IO_PORT "dac_CH2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[4]" 21;
IO_PORT "dac_CH2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[3]" 20;
IO_PORT "dac_CH2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[2]" 18;
IO_PORT "dac_CH2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[1]" 17;
IO_PORT "dac_CH2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH2[0]" 16;
IO_PORT "dac_CH2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[7]" 34;
IO_PORT "dac_CH1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[6]" 33;
IO_PORT "dac_CH1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[5]" 32;
IO_PORT "dac_CH1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[4]" 31;
IO_PORT "dac_CH1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[3]" 30;
IO_PORT "dac_CH1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[2]" 29;
IO_PORT "dac_CH1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[1]" 28;
IO_PORT "dac_CH1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "dac_CH1[0]" 27;
IO_PORT "dac_CH1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "data_in[7]" 45;
IO_PORT "data_in[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[6]" 44;
IO_PORT "data_in[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[5]" 43;
IO_PORT "data_in[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[4]" 42;
IO_PORT "data_in[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[3]" 41;
IO_PORT "data_in[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[2]" 40;
IO_PORT "data_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[1]" 39;
IO_PORT "data_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data_in[0]" 38;
IO_PORT "data_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "pha" 46;
IO_PORT "pha" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fre_l" 11;
IO_PORT "fre_l" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fre_h" 10;
IO_PORT "fre_h" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "wave" 5;
IO_PORT "wave" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ch_sw" 23;
IO_PORT "ch_sw" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_rst_n" 15;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sys_clk" 35;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
