//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Tue 04 20 18:45:37 2021

IO_LOC "O_led" 13;
IO_PORT "O_led" PULL_MODE=NONE DRIVE=8;
IO_LOC "uart_tx" 39;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uart_rx" 40;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "I_rst_n" 33;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "I_sys_clk" 22;
IO_PORT "I_sys_clk" PULL_MODE=UP;
