//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7 Beta
//Part Number: GW1NS-LV4CQN48C7/I6
//Device: GW1NS-4C
//Created Time: Wed 05 19 12:30:12 2021

//SW1
IO_LOC "gpio_io[15]" 45;
IO_PORT "gpio_io[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//SW2
IO_LOC "gpio_io[14]" 43;
IO_PORT "gpio_io[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//SW3
IO_LOC "gpio_io[13]" 41;
IO_PORT "gpio_io[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//SW4
IO_LOC "gpio_io[12]" 39;
IO_PORT "gpio_io[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


//DIG1
IO_LOC "gpio_io[11]" 34;
IO_PORT "gpio_io[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//DIG2
IO_LOC "gpio_io[10]" 31;
IO_PORT "gpio_io[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//DIG3
IO_LOC "gpio_io[9]" 29;
IO_PORT "gpio_io[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//DIG4
IO_LOC "gpio_io[8]" 27;
IO_PORT "gpio_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


//DP
IO_LOC "gpio_io[7]" 40;
IO_PORT "gpio_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//G
IO_LOC "gpio_io[6]" 46;
IO_PORT "gpio_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//F
IO_LOC "gpio_io[5]" 44;
IO_PORT "gpio_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//E
IO_LOC "gpio_io[4]" 42;
IO_PORT "gpio_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//D
IO_LOC "gpio_io[3]" 33;
IO_PORT "gpio_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//C
IO_LOC "gpio_io[2]" 35;
IO_PORT "gpio_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//B
IO_LOC "gpio_io[1]" 32;
IO_PORT "gpio_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//A
IO_LOC "gpio_io[0]" 30;
IO_PORT "gpio_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

//rst
IO_LOC "reset_n" 20;
IO_PORT "reset_n" PULL_MODE=UP;
