//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.03Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Sun 05 09 20:43:08 2021

IO_LOC "spi_SCK" 29;
IO_LOC "spi_SS" 30;
IO_LOC "spi_IO[0]" 35;
IO_LOC "spi_IO[1]" 34;
IO_LOC "spi_IO[2]" 32;
IO_LOC "spi_IO[3]" 31;
IO_PORT "spi_SCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_PORT "spi_SS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16;
IO_PORT "spi_IO[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_PORT "spi_IO[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_PORT "spi_IO[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_PORT "spi_IO[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=16;
IO_LOC "adbus_MC1" 47;
IO_LOC "adbus_MC0" 48;
IO_LOC "adbus_AD[0]" 39;
IO_LOC "adbus_AD[1]" 40;
IO_LOC "adbus_AD[2]" 41;
IO_LOC "adbus_AD[3]" 42;
IO_LOC "adbus_AD[4]" 43;
IO_LOC "adbus_AD[5]" 44;
IO_LOC "adbus_AD[6]" 45;
IO_LOC "adbus_AD[7]" 46;
IO_PORT "adbus_AD[5]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[7]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[6]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[4]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "adbus_AD[3]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[1]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_AD[2]" IO_TYPE=LVCMOS33 PULL_MODE=KEEPER DRIVE=8;
IO_PORT "adbus_MC0" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "adbus_MC1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "LED[0]" 13;
IO_LOC "LED[1]" 14;
IO_LOC "rstn" 23;
IO_PORT "LED[1]" PULL_MODE=NONE DRIVE=8;
IO_PORT "LED[0]" PULL_MODE=NONE DRIVE=8;
IO_PORT "rstn" PULL_MODE=NONE;
