//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.7.02Beta
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Wed 05 12 00:33:54 2021

IO_LOC "sda" 31;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "scl" 32;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uart0_txd" 34;
IO_PORT "uart0_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uart0_rxd" 35;
IO_PORT "uart0_rxd" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "reset_n" 20;
IO_PORT "reset_n" PULL_MODE=UP;
IO_LOC "clk_27M" 22;
IO_PORT "clk_27M" PULL_MODE=UP;